@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background: #5614B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid {
    position: absolute;
    width: 560px;
    height: 330px;
    border: solid black 1px;
    margin-top: 80px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    margin-bottom: 1.5rem;
    background: linear-gradient(145deg, #4C4C4C, #7E7E7E);
    border-radius: 1%;
    box-shadow: inset 17.72px 17.72px 100px #0f0f0f, inset -17.72px -17.72px 100px #949494;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(79, 0, 153);
    border-radius: 1%;
    filter: drop-shadow(0.2rem 0.2rem 0.4rem rgb(48, 48, 48));
    
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    filter: drop-shadow(0.3rem 0.3rem 0.2rem rgb(0, 0, 0));
    opacity: 70%;

}

.score_style {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    

}