@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    display: flex;
    place-content: center;
    margin-top: 3rem;
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);
    background: linear-gradient(to right, #DBD65C, #5614B0);

}

.grid {
    position: absolute;
    width: 560px;
    height: 330px;
    margin-top: 80px;
    background: rgba(248, 248, 248, 0.25);
    box-shadow: 0 8px 32px 0 rgba(24, 24, 24, 0.37);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    margin-bottom: 1.5rem;
    background-color: #242424;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(156, 5, 156);
    
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem rgb(0, 0, 0));

}

.score_style {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 3.7rem;
}

.btn {
    font-family: 'Comfortaa', cursive;
    position: relative;
    bottom: 1.8rem;
    padding: .2rem .5rem;
    color: rgba(255, 255, 255, 0.842);
    background-color: #242424;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
}

.btn:hover{
    background-color: rgba(156, 5, 156, 0.705);
    cursor: pointer;
    transition: .5s;
}